In [1]:
import pandas as pd

In [2]:
population_df = pd.read_csv("population.csv", encoding='latin-1')
population_df

      Year Geography Code                     Name  Population
0     2005    wijken   AA          Haarlemmerbuurt      7174.0
1     2005    wijken   AB                  Jordaan     18772.0
2     2005    wijken   AC      Grachtengordel-West      7804.0
3     2005    wijken   AD  Burgwallen-Nieuwe Zijde      3361.0
4     2005    wijken   AE    Burgwallen-Oude Zijde      3684.0
...    ...       ...  ...                      ...         ...
2017  2023    wijken   TH                  K-buurt      7436.0
2018  2023    wijken   TJ              Holendrecht      9506.0
2019  2023    wijken   TK               Nellestein      3118.0
2020  2023    wijken   TL               Reigersbos      8546.0
2021  2023    wijken   TM                     Gein     11221.0

[2022 rows x 5 columns]

In [3]:
age_3_df = pd.read_csv("age_percent_0_3.csv", encoding='latin-1')
age_3_df

      Year Geography Code                     Name  0 - 3 years (%)
0     2005    wijken   AA          Haarlemmerbuurt              4.1
1     2005    wijken   AB                  Jordaan              3.9
2     2005    wijken   AC      Grachtengordel-West              3.8
3     2005    wijken   AD  Burgwallen-Nieuwe Zijde              2.5
4     2005    wijken   AE    Burgwallen-Oude Zijde              2.5
...    ...       ...  ...                      ...              ...
2017  2023    wijken   TH                  K-buurt              5.1
2018  2023    wijken   TJ              Holendrecht              4.3
2019  2023    wijken   TK               Nellestein              4.5
2020  2023    wijken   TL               Reigersbos              4.3
2021  2023    wijken   TM                     Gein              4.4

[2022 rows x 5 columns]

In [4]:
# population_df = pd.merge(population_df, age_3_df, on=['Year','Name', 'Code', 'Geography'])
# population_df

In [5]:
age_12_df = pd.read_csv("age_percent_4_12.csv", encoding='latin-1')
age_12_df

      Year Geography Code                     Name  4 - 12 years (%)
0     2005    wijken   AA          Haarlemmerbuurt               5.9
1     2005    wijken   AB                  Jordaan               4.6
2     2005    wijken   AC      Grachtengordel-West               3.7
3     2005    wijken   AD  Burgwallen-Nieuwe Zijde               1.8
4     2005    wijken   AE    Burgwallen-Oude Zijde               3.0
...    ...       ...  ...                      ...               ...
2017  2023    wijken   TH                  K-buurt              11.7
2018  2023    wijken   TJ              Holendrecht              10.8
2019  2023    wijken   TK               Nellestein               6.4
2020  2023    wijken   TL               Reigersbos               7.8
2021  2023    wijken   TM                     Gein               8.8

[2022 rows x 5 columns]

In [6]:
age_17_df = pd.read_csv("age_percent_13_17.csv", encoding='latin-1')
age_17_df

      Year Geography Code                     Name  13 - 17 years (%)
0     2005    wijken   AA          Haarlemmerbuurt                3.2
1     2005    wijken   AB                  Jordaan                2.3
2     2005    wijken   AC      Grachtengordel-West                1.6
3     2005    wijken   AD  Burgwallen-Nieuwe Zijde                1.0
4     2005    wijken   AE    Burgwallen-Oude Zijde                1.8
...    ...       ...  ...                      ...                ...
2017  2023    wijken   TH                  K-buurt                6.3
2018  2023    wijken   TJ              Holendrecht                7.6
2019  2023    wijken   TK               Nellestein                4.1
2020  2023    wijken   TL               Reigersbos                5.0
2021  2023    wijken   TM                     Gein                5.1

[2022 rows x 5 columns]

In [7]:
age_26_df = pd.read_csv("age_percent_18_26.csv", encoding='latin-1')
age_26_df

      Year Geography Code                     Name  18 - 26 years (%)
0     2005    wijken   AA          Haarlemmerbuurt               11.1
1     2005    wijken   AB                  Jordaan               10.6
2     2005    wijken   AC      Grachtengordel-West               11.4
3     2005    wijken   AD  Burgwallen-Nieuwe Zijde               19.2
4     2005    wijken   AE    Burgwallen-Oude Zijde               16.9
...    ...       ...  ...                      ...                ...
2017  2023    wijken   TH                  K-buurt               12.9
2018  2023    wijken   TJ              Holendrecht               11.7
2019  2023    wijken   TK               Nellestein               10.2
2020  2023    wijken   TL               Reigersbos               11.7
2021  2023    wijken   TM                     Gein               11.4

[2022 rows x 5 columns]

In [8]:
age_65_df = pd.read_csv("age_percent_27_65.csv", encoding='latin-1')
age_65_df

      Year Geography Code                     Name  27 - 65 years (%)
0     2005    wijken   AA          Haarlemmerbuurt               68.2
1     2005    wijken   AB                  Jordaan               69.9
2     2005    wijken   AC      Grachtengordel-West               73.9
3     2005    wijken   AD  Burgwallen-Nieuwe Zijde               71.1
4     2005    wijken   AE    Burgwallen-Oude Zijde               70.8
...    ...       ...  ...                      ...                ...
2017  2023    wijken   TH                  K-buurt               53.0
2018  2023    wijken   TJ              Holendrecht               47.7
2019  2023    wijken   TK               Nellestein               55.3
2020  2023    wijken   TL               Reigersbos               54.3
2021  2023    wijken   TM                     Gein               53.2

[2022 rows x 5 columns]

In [9]:
age_66_df = pd.read_csv("age_percent_66.csv", encoding='latin-1')
age_66_df

      Year Geography Code                     Name  66 + years (%)
0     2005    wijken   AA          Haarlemmerbuurt             7.7
1     2005    wijken   AB                  Jordaan             8.6
2     2005    wijken   AC      Grachtengordel-West             5.6
3     2005    wijken   AD  Burgwallen-Nieuwe Zijde             4.3
4     2005    wijken   AE    Burgwallen-Oude Zijde             5.1
...    ...       ...  ...                      ...             ...
2017  2023    wijken   TH                  K-buurt            10.9
2018  2023    wijken   TJ              Holendrecht            18.0
2019  2023    wijken   TK               Nellestein            19.6
2020  2023    wijken   TL               Reigersbos            16.8
2021  2023    wijken   TM                     Gein            17.2

[2022 rows x 5 columns]

In [10]:
from functools import reduce
data_frames = [population_df, age_3_df, age_12_df, age_17_df, age_26_df, age_65_df, age_66_df]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Year', 'Name', 'Geography', 'Code'],
                                            how='outer'), data_frames)
df_merged = df_merged[df_merged['Year'] == 2023]
df_merged

,Year,Geography,Code,Name,Population,0 - 3 years (%),4 - 12 years (%),13 - 17 years (%),18 - 26 years (%),27 - 65 years (%),66 + years (%)
1912,2023,wijken,AA,Haarlemmerbuurt,9136.0,2.4,5.1,2.9,11.3,60.0,18.2
1913,2023,wijken,AB,Jordaan,19551.0,2.4,4.1,2.2,14.6,60.1,16.6
1914,2023,wijken,AC,Grachtengordel-West,6585.0,2.2,3.7,2.5,18.2,57.7,15.7
1915,2023,wijken,AD,Burgwallen-Nieuwe Zijde,4338.0,1.7,1.6,1.3,26.6,61.8,7.1
1916,2023,wijken,AE,Burgwallen-Oude Zijde,4569.0,1.7,2.2,1.1,25.7,59.9,9.4
...,...,...,...,...,...,...,...,...,...,...,...
2017,2023,wijken,TH,K-buurt,7436.0,5.1,11.7,6.3,12.9,53.0,10.9
2018,2023,wijken,TJ,Holendrecht,9506.0,4.3,10.8,7.6,11.7,47.7,18.0
2019,2023,wijken,TK,Nellestein,3118.0,4.5,6.4,4.1,10.2,55.3,19.6
2020,2023,wijken,TL,Reigersbos,8546.0,4.3,7.8,5.0,11.7,54.3,16.8
2021,2023,wijken,TM,Gein,11221.0,4.4,8.8,5.1,11.4,53.2,17.2

In [11]:
environment_df = pd.read_csv("appearance_living_environment.csv", encoding='latin-1')
environment_df

,Year,Geography,Code,Name,Appearance living environment (1-10)
0,2005,wijken,AA,Haarlemmerbuurt,7.4
1,2005,wijken,AB,Jordaan,7.2
2,2005,wijken,AC,Grachtengordel-West,7.9
3,2005,wijken,AD,Burgwallen-Nieuwe Zijde,6.5
4,2005,wijken,AE,Burgwallen-Oude Zijde,6.3
...,...,...,...,...,...
840,2019,wijken,TH,K-buurt,NaN
841,2019,wijken,TJ,Holendrecht,6.8
842,2019,wijken,TK,Nellestein,7.6
843,2019,wijken,TL,Reigersbos,7.0
844,2019,wijken,TM,Gein,7.0

In [12]:
len(environment_df.Name.unique())

110

In [13]:
import numpy as np
import matplotlib.pyplot as plt  # To visualize
import pandas as pd  # To read data
from sklearn.linear_model import LinearRegression

In [14]:
environment_df_model = environment_df[environment_df.isna().any(axis=1) == False]

X = environment_df_model[["Year","Name"]]
X = pd.get_dummies(data=X, drop_first=True)
Y = environment_df_model["Appearance living environment (1-10)"]

In [15]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
    
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .20, random_state = 40)
    
regr = linear_model.LinearRegression() # Do not use fit_intercept = False if you have removed 1 column after dummy encoding
regr.fit(X_train, Y_train)
predicted = regr.predict(X_test)

c:\Users\wojma\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\wojma\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

In [16]:
locations = environment_df["Name"].unique()

environment_2023 = pd.DataFrame({
    'Year': [2023] * len(locations),
    'Name': locations
})

# Step 2: Apply one-hot encoding
environment_2023_encoded = pd.get_dummies(data=environment_2023, drop_first=True)

# Step 1: Reorder columns to match the order in the training data
environment_2023_encoded = environment_2023_encoded[X_train.columns]

# Step 2: Remove any additional columns not present in the training data
environment_2023_encoded = environment_2023_encoded[X_train.columns.intersection(environment_2023_encoded.columns)]

# Step 3: Use the trained model for prediction
predicted_2023 = regr.predict(environment_2023_encoded)

# Add the predicted values to the DataFrame
environment_2023['Predicted appearance living environment (1-10)'] = predicted_2023

print(environment_2023)

     Year                            Name  \
0    2023                 Haarlemmerbuurt
1    2023                         Jordaan
2    2023             Grachtengordel-West
3    2023         Burgwallen-Nieuwe Zijde
4    2023           Burgwallen-Oude Zijde
..    ...                             ...
105  2023                   Oostzanerwerf
106  2023                 Weesp-Noordwest
107  2023           Weesp Binnenstad/Zuid
108  2023              Bloemendalerpolder
109  2023  Aetsveld/Oostelijke Vechtoever

     Predicted appearance living environment (1-10)
0                                          7.617724
1                                          7.454749
2                                          8.223737
3                                          7.071996
4                                          7.065554
..                                              ...
105                                        8.184496
106                                        8.184496
107                                        8.184496
108                                        8.184496
109                                        8.184496

[110 rows x 3 columns]

c:\Users\wojma\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

In [17]:
environment_2023['Predicted appearance living environment (1-10)'] = environment_2023['Predicted appearance living environment (1-10)'].apply(lambda x: round(x, 1))
environment_2023

,Year,Name,Predicted appearance living environment (1-10)
0,2023,Haarlemmerbuurt,7.6
1,2023,Jordaan,7.5
2,2023,Grachtengordel-West,8.2
3,2023,Burgwallen-Nieuwe Zijde,7.1
4,2023,Burgwallen-Oude Zijde,7.1
...,...,...,...
105,2023,Oostzanerwerf,8.2
106,2023,Weesp-Noordwest,8.2
107,2023,Weesp Binnenstad/Zuid,8.2
108,2023,Bloemendalerpolder,8.2
109,2023,Aetsveld/Oostelijke Vechtoever,8.2

In [18]:
areas_df = pd.read_csv("areas.csv", encoding='latin-1')
areas_df = areas_df[areas_df['Year'] == 2022]
# the areas haven't changed so will use latest data from 2022
areas_df = areas_df.drop(['Year'], axis=1)
# convert to square kilometers
areas_df['Area total (ha)']= areas_df['Area total (ha)']/100
areas_df.rename(columns={"Area total (ha)": "Area total (km2)"}, inplace=True)
areas_df

    Geography Code                     Name  Area total (km2)
866    wijken   AA          Haarlemmerbuurt            0.8145
867    wijken   AB                  Jordaan            0.9465
868    wijken   AC      Grachtengordel-West            0.5690
869    wijken   AD  Burgwallen-Nieuwe Zijde            0.7284
870    wijken   AE    Burgwallen-Oude Zijde            0.4047
..        ...  ...                      ...               ...
971    wijken   TH                  K-buurt            0.9589
972    wijken   TJ              Holendrecht            1.3854
973    wijken   TK               Nellestein            2.7431
974    wijken   TL               Reigersbos            1.3272
975    wijken   TM                     Gein            1.9214

[110 rows x 4 columns]

In [19]:
income_df = pd.read_csv("mean_disposable_income.csv", encoding='latin-1')
income_df

,Year,Geography,Code,Name,Mean disposable household income
0,2002,wijken,AA,Haarlemmerbuurt,26600.0
1,2002,wijken,AB,Jordaan,25100.0
2,2002,wijken,AC,Grachtengordel-West,36500.0
3,2002,wijken,AD,Burgwallen-Nieuwe Zijde,27400.0
4,2002,wijken,AE,Burgwallen-Oude Zijde,22300.0
...,...,...,...,...,...
1660,2019,wijken,TH,K-buurt,NaN
1661,2019,wijken,TJ,Holendrecht,NaN
1662,2019,wijken,TK,Nellestein,37800.0
1663,2019,wijken,TL,Reigersbos,NaN
1664,2019,wijken,TM,Gein,37300.0

In [20]:
len(income_df.Name.unique())

110

In [21]:
income_df_model = income_df[income_df.isna().any(axis=1) == False]

X = income_df_model[["Year","Name"]]
X = pd.get_dummies(data=X, drop_first=True)
Y = income_df_model["Mean disposable household income"]

In [22]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
    
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .20, random_state = 40)
    
regr = linear_model.LinearRegression() # Do not use fit_intercept = False if you have removed 1 column after dummy encoding
regr.fit(X_train, Y_train)
predicted = regr.predict(X_test)

c:\Users\wojma\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\wojma\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

In [23]:
locations = environment_df["Name"].unique()

income_2023 = pd.DataFrame({
    'Year': [2023] * len(locations),
    'Name': locations
})

# Step 2: Apply one-hot encoding
income_2023_encoded = pd.get_dummies(data=income_2023, drop_first=True)

# Step 1: Reorder columns to match the order in the training data
income_2023_encoded = income_2023_encoded[X_train.columns]

# Step 2: Remove any additional columns not present in the training data
income_2023_encoded = income_2023_encoded[X_train.columns.intersection(income_2023_encoded.columns)]

# Step 3: Use the trained model for prediction
predicted_2023 = regr.predict(income_2023_encoded)

# Add the predicted values to the DataFrame
income_2023['Predicted mean disposable household income'] = predicted_2023

print(income_2023)

     Year                            Name  \
0    2023                 Haarlemmerbuurt
1    2023                         Jordaan
2    2023             Grachtengordel-West
3    2023         Burgwallen-Nieuwe Zijde
4    2023           Burgwallen-Oude Zijde
..    ...                             ...
105  2023                   Oostzanerwerf
106  2023                 Weesp-Noordwest
107  2023           Weesp Binnenstad/Zuid
108  2023              Bloemendalerpolder
109  2023  Aetsveld/Oostelijke Vechtoever

     Predicted mean disposable household income
0                                  48978.129787
1                                  45338.285638
2                                  66560.152609
3                                  44289.636952
4                                  43223.379692
..                                          ...
105                                39520.118273
106                                39520.118273
107                                39520.118273
108                                39520.118273
109                                39520.118273

[110 rows x 3 columns]

c:\Users\wojma\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

In [24]:
income_2023['Predicted mean disposable household income'] = income_2023['Predicted mean disposable household income'].apply(lambda x: round(x, 1))
income_2023

,Year,Name,Predicted mean disposable household income
0,2023,Haarlemmerbuurt,48978.1
1,2023,Jordaan,45338.3
2,2023,Grachtengordel-West,66560.2
3,2023,Burgwallen-Nieuwe Zijde,44289.6
4,2023,Burgwallen-Oude Zijde,43223.4
...,...,...,...
105,2023,Oostzanerwerf,39520.1
106,2023,Weesp-Noordwest,39520.1
107,2023,Weesp Binnenstad/Zuid,39520.1
108,2023,Bloemendalerpolder,39520.1
109,2023,Aetsveld/Oostelijke Vechtoever,39520.1

In [25]:
# merge all dataframes together
all_data = [df_merged, income_2023, environment_2023]
all_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Name', 'Year'],
                                             how='outer'), all_data)
all_merged

,Year,Geography,Code,Name,Population,0 - 3 years (%),4 - 12 years (%),13 - 17 years (%),18 - 26 years (%),27 - 65 years (%),66 + years (%),Predicted mean disposable household income,Predicted appearance living environment (1-10)
0,2023,wijken,AA,Haarlemmerbuurt,9136.0,2.4,5.1,2.9,11.3,60.0,18.2,48978.1,7.6
1,2023,wijken,AB,Jordaan,19551.0,2.4,4.1,2.2,14.6,60.1,16.6,45338.3,7.5
2,2023,wijken,AC,Grachtengordel-West,6585.0,2.2,3.7,2.5,18.2,57.7,15.7,66560.2,8.2
3,2023,wijken,AD,Burgwallen-Nieuwe Zijde,4338.0,1.7,1.6,1.3,26.6,61.8,7.1,44289.6,7.1
4,2023,wijken,AE,Burgwallen-Oude Zijde,4569.0,1.7,2.2,1.1,25.7,59.9,9.4,43223.4,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2023,wijken,TH,K-buurt,7436.0,5.1,11.7,6.3,12.9,53.0,10.9,39520.1,8.2
106,2023,wijken,TJ,Holendrecht,9506.0,4.3,10.8,7.6,11.7,47.7,18.0,39520.1,7.1
107,2023,wijken,TK,Nellestein,3118.0,4.5,6.4,4.1,10.2,55.3,19.6,43728.1,7.9
108,2023,wijken,TL,Reigersbos,8546.0,4.3,7.8,5.0,11.7,54.3,16.8,39520.1,7.2
109,2023,wijken,TM,Gein,11221.0,4.4,8.8,5.1,11.4,53.2,17.2,43934.6,7.3

In [26]:
all_merged = all_merged.merge(areas_df, on=['Name','Geography','Code'])
all_merged

,Year,Geography,Code,Name,Population,0 - 3 years (%),4 - 12 years (%),13 - 17 years (%),18 - 26 years (%),27 - 65 years (%),66 + years (%),Predicted mean disposable household income,Predicted appearance living environment (1-10),Area total (km2)
0,2023,wijken,AA,Haarlemmerbuurt,9136.0,2.4,5.1,2.9,11.3,60.0,18.2,48978.1,7.6,0.8145
1,2023,wijken,AB,Jordaan,19551.0,2.4,4.1,2.2,14.6,60.1,16.6,45338.3,7.5,0.9465
2,2023,wijken,AC,Grachtengordel-West,6585.0,2.2,3.7,2.5,18.2,57.7,15.7,66560.2,8.2,0.5690
3,2023,wijken,AD,Burgwallen-Nieuwe Zijde,4338.0,1.7,1.6,1.3,26.6,61.8,7.1,44289.6,7.1,0.7284
4,2023,wijken,AE,Burgwallen-Oude Zijde,4569.0,1.7,2.2,1.1,25.7,59.9,9.4,43223.4,7.1,0.4047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2023,wijken,TH,K-buurt,7436.0,5.1,11.7,6.3,12.9,53.0,10.9,39520.1,8.2,0.9589
106,2023,wijken,TJ,Holendrecht,9506.0,4.3,10.8,7.6,11.7,47.7,18.0,39520.1,7.1,1.3854
107,2023,wijken,TK,Nellestein,3118.0,4.5,6.4,4.1,10.2,55.3,19.6,43728.1,7.9,2.7431
108,2023,wijken,TL,Reigersbos,8546.0,4.3,7.8,5.0,11.7,54.3,16.8,39520.1,7.2,1.3272
109,2023,wijken,TM,Gein,11221.0,4.4,8.8,5.1,11.4,53.2,17.2,43934.6,7.3,1.9214

In [27]:
#calculate population density
all_merged["Population density"] = all_merged["Population"]/all_merged["Area total (km2)"]
all_merged['Population density'] = all_merged['Population density'].apply(lambda x: round(x, 1))
all_merged

,Year,Geography,Code,Name,Population,0 - 3 years (%),4 - 12 years (%),13 - 17 years (%),18 - 26 years (%),27 - 65 years (%),66 + years (%),Predicted mean disposable household income,Predicted appearance living environment (1-10),Area total (km2),Population density
0,2023,wijken,AA,Haarlemmerbuurt,9136.0,2.4,5.1,2.9,11.3,60.0,18.2,48978.1,7.6,0.8145,11216.7
1,2023,wijken,AB,Jordaan,19551.0,2.4,4.1,2.2,14.6,60.1,16.6,45338.3,7.5,0.9465,20656.1
2,2023,wijken,AC,Grachtengordel-West,6585.0,2.2,3.7,2.5,18.2,57.7,15.7,66560.2,8.2,0.5690,11572.9
3,2023,wijken,AD,Burgwallen-Nieuwe Zijde,4338.0,1.7,1.6,1.3,26.6,61.8,7.1,44289.6,7.1,0.7284,5955.5
4,2023,wijken,AE,Burgwallen-Oude Zijde,4569.0,1.7,2.2,1.1,25.7,59.9,9.4,43223.4,7.1,0.4047,11289.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2023,wijken,TH,K-buurt,7436.0,5.1,11.7,6.3,12.9,53.0,10.9,39520.1,8.2,0.9589,7754.7
106,2023,wijken,TJ,Holendrecht,9506.0,4.3,10.8,7.6,11.7,47.7,18.0,39520.1,7.1,1.3854,6861.6
107,2023,wijken,TK,Nellestein,3118.0,4.5,6.4,4.1,10.2,55.3,19.6,43728.1,7.9,2.7431,1136.7
108,2023,wijken,TL,Reigersbos,8546.0,4.3,7.8,5.0,11.7,54.3,16.8,39520.1,7.2,1.3272,6439.1
109,2023,wijken,TM,Gein,11221.0,4.4,8.8,5.1,11.4,53.2,17.2,43934.6,7.3,1.9214,5840.0

In [28]:
all_merged = all_merged.drop(columns=['Geography', 'Year'])
all_merged

,Code,Name,Population,0 - 3 years (%),4 - 12 years (%),13 - 17 years (%),18 - 26 years (%),27 - 65 years (%),66 + years (%),Predicted mean disposable household income,Predicted appearance living environment (1-10),Area total (km2),Population density
0,AA,Haarlemmerbuurt,9136.0,2.4,5.1,2.9,11.3,60.0,18.2,48978.1,7.6,0.8145,11216.7
1,AB,Jordaan,19551.0,2.4,4.1,2.2,14.6,60.1,16.6,45338.3,7.5,0.9465,20656.1
2,AC,Grachtengordel-West,6585.0,2.2,3.7,2.5,18.2,57.7,15.7,66560.2,8.2,0.5690,11572.9
3,AD,Burgwallen-Nieuwe Zijde,4338.0,1.7,1.6,1.3,26.6,61.8,7.1,44289.6,7.1,0.7284,5955.5
4,AE,Burgwallen-Oude Zijde,4569.0,1.7,2.2,1.1,25.7,59.9,9.4,43223.4,7.1,0.4047,11289.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,TH,K-buurt,7436.0,5.1,11.7,6.3,12.9,53.0,10.9,39520.1,8.2,0.9589,7754.7
106,TJ,Holendrecht,9506.0,4.3,10.8,7.6,11.7,47.7,18.0,39520.1,7.1,1.3854,6861.6
107,TK,Nellestein,3118.0,4.5,6.4,4.1,10.2,55.3,19.6,43728.1,7.9,2.7431,1136.7
108,TL,Reigersbos,8546.0,4.3,7.8,5.0,11.7,54.3,16.8,39520.1,7.2,1.3272,6439.1
109,TM,Gein,11221.0,4.4,8.8,5.1,11.4,53.2,17.2,43934.6,7.3,1.9214,5840.0

In [29]:
all_merged.to_csv('amsterdam_data.csv')